{
    "env": {
        "es2021": true,
        "node": true
    },
    "extends": [
        "airbnb",
        "airbnb/hooks",
        "plugin:react/jsx-runtime",
        "prettier"
    ],
    "overrides": [
    ],
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "global-require": "off",
        "no-unused-expressions": ["error", { "allowTernary": true }],
        "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
        "no-use-before-define": ["error", { "variables": false }],
        "react/forbid-prop-types": ["error", { "forbid": ["any"] }],
        "react/jsx-props-no-spreading": ["error", { "custom": "ignore" }],
        "react/no-unstable-nested-components": ["error", { "allowAsProps": true }],
        "react/style-prop-object": ["error", { "allow": ["StatusBar"] }]
    },
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src", "assets"],
                "extensions": [".js", ".android.js", ".ios.js", ".jsx", ".android.jsx", ".ios.jsx"]
            }
        }
    }
}
